---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';

---

<Layout title="Welcome to Astro."> <!-- Cambiar titulo de la pestaña -->
	<Navbar/>

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<Section idSection="Home" color="black" headerColor="white"/>
		</div>
		<div class="snap-center">
			<Section idSection="About" color="white" headerColor="black"/>
		</div>
		<div class="snap-center">
			<Section idSection="Project" color="black" headerColor="white"/>
		</div>
		<div class="snap-center">
			<Section idSection="Contact" color="white" headerColor="black"/>
		</div>
	</main>
</Layout>