---
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import HomeSection from '../components/HomeSection.astro';
import AboutSection from '../components/AboutSection.astro';
import ProjectSection from '../components/ProjectSection.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout title="Welcome to Astro."> <!-- Cambiar titulo de la pestaña -->
	<Navbar/>

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<HomeSection/>
		</div>
		<div class="snap-center">
			<AboutSection/>
		</div>
		<div class="snap-center">
			<ProjectSection/>
		</div>
		<div class="snap-center">
			<ContactSection/>
		</div>
	</main>
</Layout>