---
import CardExperience from "./CardExperience.astro";

---

<section id="About" class="landing-section h-screen text-center relative overflow-hidden" data-header-color="black">
    <div class="z-30 relative h-full flex flex-col justify-between">
        <header>
            <h2 class="pt-24 text-5xl font-medium">About</h2>
            <p class="text-base">About Descripcion</p>
        </header>

        <div class="px-14">
            <div class="bg-gray-200 rounded grid grid-cols-2 p-6">
                <CardExperience/>
                <CardExperience/>
                <CardExperience/>
                <CardExperience/>
            </div>
        </div>
    
        <footer class="flex flex-col justify-end pb-20">
            <div>
                <a class="border-2 border-black text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white" href="#Project">Proyectos</a>
                <a class="border-2 border-black text-sm rounded font-medium px-12 py-2 transition-colors hover:bg-black hover:text-white" href="#Contact">Contactame</a>
            </div>
        </footer>
    </div>
</section>