<section id="Project" class="landing-section bg-blue-900 h-screen text-center relative overflow-hidden" data-header-color='white'>
    <div class="z-30 relative h-full flex flex-col justify-between">
        <header class="text-white">
            <h2 class="pt-24 text-5xl font-medium">Project</h2>
            <p class="text-base">Project Descripcion</p>
        </header>
    
        <footer class="flex flex-col justify-end pb-20">
            <div>
                <a class="border-2 border-white text-sm text-white rounded font-medium px-12 py-2 transition-colors hover:bg-white hover:text-black" href="#Contact">Contactame</a>
            </div>
        </footer>
    </div>
</section>