---
const { color, headerColor, idSection } = Astro.props;
const bgColor = `bg-${color}`
---
<section id={idSection} class={`landing-section ${bgColor} h-screen text-center relative overflow-hidden`} data-header-color={headerColor}>
    
</section>